<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MENTOR LOGIN SIGN UP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Continue the Teaching-Learning!</h2>
          <a href="/loginsignup" class="index-button">Login as Mentor</a>
          <br>
          <a href="/loginsignup" class="index-button">Login as Mentee</a>
          <br>
        <h2 class="subtitle">Not started yet?! Join today!</h2>
          <a href="/loginsignup" class="index-button">Sign Up as Mentor</a>
          <br>
          <a href="/loginsignup" class="index-button">Sign Up as Mentee</a>
    </div>
    <div class="top-image1">
      <img src="https://media4.giphy.com/media/M8u539G98rIxYpHnTW/giphy.gif">
    </div>
  </div>
  </body>
</html>
