<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MENTOR</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">MENTOR</h1>
        <h2 class="subtitle">Zindagi ki batti jala de!</h2>
        <p class="description">
          A cross-platform web application helping you find your inspirations in your respective career domains!!
          <br>
          1.      Wanna help? Become a mentor!
          <br>
          2.      Need help? Become a mentee!
        </p>
        <a href="/loginsignup" class="index-button">Login/Sign Up</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
